<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1><%= name %>님 환영합니다!</h1>
    <form method="GET" action="/destroy">
    <button type="submit" >로그아웃</button>
    </form>
</body>
</html>