<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/larva">larva</a>
    <a href="/fruits">fruits</a>
    <a href="/gugudan">gugudan</a>
    <br />
    <img src="https://item.kakaocdn.net/do/c5c470298d527ef65eb52883f0f186c48f324a0b9c48f77dbce3a43bd11ce785" alt="춘식이"/>
</body>
</html>