div {
    margin-top: 300px;
    position: relative;
}
img {
    width: 200px;
    height: 150px;
    transform: skewY(35deg);
    position: absolute;

}

#one {
    z-index: 3;
    
}
#two {
    z-index: 2;
    left: 120px;
}
#three {
    z-index: 1;
    left: 240px;
}