body {
    background-color:rgb(246, 242, 216);
    text-align: center;
}
.kdt {
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 40vh;
}