img {
    width: 200px;
    height: 200px;
}

img#translate:hover{
    transform: translate(100px, 40px);
}

img#scaleX:hover {
    transform: scaleX(2);
}
img#rotate:hover {
    transform: rotateX(180deg);
    backface-visibility: hidden;
}
img#skew:hover {
    transform: skewX(45deg);
}
