.container {
    height: 1000px;
    display: flex;

    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.container > div, .container-1 > div {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}