body {
    margin: 0;
}
/* div {
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, lightgrey, navy);
} */

div {
    width: 100%;
    height: 200px;
    background-image: url('https://item.kakaocdn.net/do/c5c470298d527ef65eb52883f0f186c48f324a0b9c48f77dbce3a43bd11ce785');
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
    background-size: auto;
    overflow: auto;
    background-attachment: local;
}