.blue-box{
    width: 20vw;
    height: 20vw;
    background-color: blue;
    padding-top: 22px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: auto;
    
}

.orange-box{
    width: 100px;
    height: 10vw;
    background-color: orange;
}