<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
    <style>
      #chatBox {
        background-color: #c7d6e0;
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: auto;
        margin-bottom: 10px;
      }
      #welcome {
        color: white;
        font-size: 12px;
        margin: 0 auto;  /* 중앙배치 */
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
      }
      .bubble {
        width: fit-content;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
      }
      #me {
        background-color: #fae100;
        margin-left: auto; /*남은 가용공간 최대한 확보 즉, 오른쪽으로 최대한 밀어버림 */
        border-top-right-radius: 0px;
      }
      #others {
        background-color: #ffffff;
        border-top-left-radius: 0px;
      }
      #send {
        border: none;
        width: 50px;
        height: 25px;
        border-radius: 2px;
        background-color: rgba(59, 28, 28, 0.8);
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .reply {
        width: 300px;
        background-color: white;
        display: flex;
      }
      .reply input {
        padding: 5px;
        padding-left: 10px;
        width: 100%;
        border: 0.1px solid rgba(0,0,0,0.3);
        border-radius: 25px;
        margin-right: 5px;
      }
      .reply button {
        background-color: #fae100;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div id="chatBox"></div>
    <form class="reply" id="chat">
      <input type="text" id="message" placeholder="메세지를 입력하세요" />
      <button>
        <i class="fas fa-arrow-up"></i>
      </button>
    </form>
    <br /><br />
    <button type="button" onclick="leave()">나가기</button>
    <script>
      const chatForm = document.querySelector('#chat');
      const chatBox = document.querySelector('#chatBox');

      const socket = io();

      // 채팅방 생성
      const chatRoom = prompt('채팅방명을 입력하세요');
      socket.emit('join', chatRoom);

      // 브라우저 접속 시
      socket.on('create', (res) => {
        const msgBox = document.createElement('div');
        msgBox.id = 'welcome';
        msgBox.textContent = res;
        chatBox.appendChild(msgBox);
      });

      // 서버에서 보내주는 메시지 받기
      socket.on('chat', (message) => {
        const msgBox = document.createElement('div');
        msgBox.id = 'others';
        msgBox.classList.add('bubble');
        msgBox.textContent = message;
        chatBox.appendChild(msgBox);
      });

      // 폼 이벤트, 내 메시지추가
      chatForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const msg = chatForm.querySelector('#message');
        const msgBox = document.createElement('div');
        msgBox.id = 'me';
        msgBox.classList.add('bubble');
        msgBox.textContent = msg.value;
        chatBox.appendChild(msgBox);

        socket.emit('sendMessage', msg.value);
        msg.value = '';
      });

      function leave() {
        console.log('leave');
        socket.emit('leave');
      }
    </script>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
